*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(5px);
  opacity: 1; /* Ajusta el valor para más o menos opacidad */
  z-index: -1;
  background: rgba(0, 0, 0, 0.4); 
}

.logoPS{
  font-size: 32px;
  color: white;
  font-family: 'Barcade', sans-serif;
  text-decoration: none;
  opacity: 0; 
  animation: fadeIn 0.5s ease forwards infinite; 
  animation-fill-mode: both;
}
@media (max-width: 1400px) {
  
.logoPS:nth-child(1) { display: none;}

.logoPS:nth-child(8) { display: none;}

}
@media (max-width: 900px) {

    .logoPS:nth-child(1) { display: none;}
    .logoPS:nth-child(2) { display: none;}
    .logoPS:nth-child(7) { display: none;}
    .logoPS:nth-child(8) { display: none;}

}
@media (max-width: 600px) {
.logoPS {
    display: none;
}
}



@keyframes fadeIn {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

.logoPS:nth-child(1) { animation-delay: 0.5s; animation-duration: 2s;}
.logoPS:nth-child(2) { animation-delay: 1s; animation-duration: 2s;}
.logoPS:nth-child(3) { animation-delay: 1.5s; animation-duration: 2s;}
.logoPS:nth-child(4) { animation-delay: 2s; animation-duration: 2s;}
.logoPS:nth-child(5) { animation-delay: 2s; animation-duration: 2s}
.logoPS:nth-child(6) { animation-delay: 1.5s; animation-duration: 2s}
.logoPS:nth-child(7) { animation-delay: 1s; animation-duration: 2s;}
.logoPS:nth-child(8) { animation-delay: 0.5s; animation-duration: 2s;}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Espacio entre el logo y el navbar */
}

.navbar a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Barcade No Bar Bold', sans-serif;
  margin-left: 10%;

}
.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}
.navbar a:hover::before{
  width: 100%;
}

spline-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
}





* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
  }
  body, button, input {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
  }
  body, input {
    color: #171717;
  }
  body, .search-bar {
    display: flex;
  }
  body {
    background: #f1f1f1;
    height: 100vh;
  }
  .search-bar input,
  .search-btn, 
  .search-btn:before, 
  .search-btn:after {
    transition: all 0.25s ease-out;
  }
  .search-bar input,
  .search-btn {
    width: 3em;
    height: 3em;
  }
  .search-bar input:invalid:not(:focus),
  .search-btn {
    cursor: pointer;
  }
  .search-bar,
  .search-bar input:focus,
  .search-bar input:valid  {
    width: 100%;
  }
  .search-bar input:focus,
  .search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
  }
  .search-bar {
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
  }
  .search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
  }
  .search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
  }
  .search-btn:before, 
  .search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
  }
  .search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
  }
  .search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em,0) rotate(45deg);
    transform-origin: 0 50%;
  }
  .search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  
  
  .search-bar input:focus + .search-btn,
  .search-bar input:valid + .search-btn {
    background: transparent;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
  }
  .search-bar input:focus + .search-btn:before, 
  .search-bar input:focus + .search-btn:after,
  .search-bar input:valid + .search-btn:before, 
  .search-bar input:valid + .search-btn:after {
    opacity: 1;
  }
  .search-bar input:focus + .search-btn:hover,
  .search-bar input:valid + .search-btn:hover,
  .search-bar input:valid:not(:focus) + .search-btn:focus {
    background: transparent;
  }
  .search-bar input:focus + .search-btn:active,
  .search-bar input:valid + .search-btn:active {
    transform: translateY(1px);
  }
  
  @media screen and (prefers-color-scheme: dark) {
    body, input {
      color: #f1f1f1;
    }
    body {
      background: transparent;
    }
    .search-bar input {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
      background: transparent;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
      background: #f1f1f1;
    }
  }

/* films */
/* films */
section {
  position: relative;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 10;
  padding: 0 7%;
  margin-top: 20%;

}
.info {
  position: relative;
  display: flex;
  flex-direction: column; /* Alinear verticalmente los elementos dentro de .info */
  margin-left: 8%;
  margin-right: 4%;
}
.first {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 15px; 
  background: rgba(255, 255, 255, 0.064); 
  backdrop-filter: blur(1px); 
  padding: 5%; 
  color: aliceblue; 


}

img {
  position: relative;
  width: 15%;
  height: auto;
}

.infilm {
  margin-bottom: 1rem; /* Espacio inferior para separar de la sección .calif */


  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;

  font-style: normal;
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

.calif {
  top: -34%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  width: 100px;
  height: 100px; 
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(3px); 
  border-radius: 10px; 
  color: aliceblue;
  font-size: 1.2rem;

}

.synopsis {
  margin-left: 4%; 
  max-width: 100%; 
  text-align: left; 
  font-size: 1rem;
  color: aliceblue;
  font-size: small;
  font-style: normal;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
font-size: small;
}
h3{
font-size: small;
}

.comments-wrapper {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0);
  border:rgb(255, 255, 255)
}

.add-comment-section {
  flex: 1;
  padding-right: 20px;
  border-right: 1px solid #dddddd;
}

.comments-display-section {
  flex: 2;
  padding-left: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.comment-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #464545;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: rgba(255, 253, 253, 0.863);
  resize: vertical;
}

.add-comment-btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #6c47f1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-comment-btn:hover {
  background-color: #5438b7;
}

.comment {
  background-color: rgb(170, 170, 170);
  color: #0c0c0c;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  display:block;
  font-size: small;
}
