*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  background: black;
  align-items: center;
  justify-content: center;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.logoPS{
  font-size: 32px;
  color: white;
  font-family: 'Barcade', sans-serif;
  text-decoration: none;
  opacity: 0; 
  animation: fadeIn 0.5s ease forwards infinite; 
  animation-fill-mode: both;
}
@media (max-width: 1400px) {
  .logoPS:nth-child(1) { display: none;}
  .logoPS:nth-child(8) { display: none;}
}
@media (max-width: 900px) {
  .logoPS:nth-child(1) { display: none;}
  .logoPS:nth-child(2) { display: none;}
  .logoPS:nth-child(7) { display: none;}
  .logoPS:nth-child(8) { display: none;}
}
@media (max-width: 600px) {
  .logoPS {
      display: none;
  }
}

@keyframes fadeIn {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

.logoPS:nth-child(1) { animation-delay: 0.5s; animation-duration: 2s;}
.logoPS:nth-child(2) { animation-delay: 1s; animation-duration: 2s;}
.logoPS:nth-child(3) { animation-delay: 1.5s; animation-duration: 2s;}
.logoPS:nth-child(4) { animation-delay: 2s; animation-duration: 2s;}
.logoPS:nth-child(5) { animation-delay: 2s; animation-duration: 2s}
.logoPS:nth-child(6) { animation-delay: 1.5s; animation-duration: 2s}
.logoPS:nth-child(7) { animation-delay: 1s; animation-duration: 2s;}
.logoPS:nth-child(8) { animation-delay: 0.5s; animation-duration: 2s;}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.navbar a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Barcade No Bar Bold', sans-serif;
  margin-left: 10%;
}
.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}
.navbar a:hover::before{
  width: 100%;
}

spline-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
}

section {
  position: relative;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 10;
  padding: 0 7%;
}

.first {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  right: 28%;
}

img {
  position: relative;
  width: 15%;
  height: auto;
}

.infilm {
  position: relative;
  top: -34%;
  margin-left: 5%;
  margin-right: 5%;
}

.calif {
  top: -34%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  color: aliceblue;
  font-size: 1.2rem;
}

.comments-wrapper {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  border:rgb(255, 255, 255)
}

.add-comment-section {
  flex: 1;
  padding-right: 20px;
  border-right: 1px solid #dddddd;
}

.comments-display-section {
  flex: 2;
  padding-left: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.comment-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #464545;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  resize: vertical;
}

.add-comment-btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #6c47f1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-comment-btn:hover {
  background-color: #5438b7;
}

.comment {
  background-color: rgb(187, 187, 187);
  color: #0c0c0c;
  border: 1px solid #390375;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  display:block;
}
