*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    background: black;
    align-items: center;
    justify-content: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.logoPS{
    font-size: 1.5em;
    color: white;
    font-family: 'Barcade', sans-serif;
    text-decoration: none;
    opacity: 0; 
    animation: fadeIn 0.5s ease forwards infinite; 
    animation-fill-mode: both;
}

/* Cuando la pantalla tiene 600px o menos, disminuir el tamaño de la fuente */
/* Cuando la pantalla tiene 600px o menos, ocultar los elementos .logoPS */
@media (max-width: 1400px) {
    
    .logoPS:nth-child(1) { display: none;}

    .logoPS:nth-child(8) { display: none;}

}
@media (max-width: 900px) {
    
        .logoPS:nth-child(1) { display: none;}
        .logoPS:nth-child(2) { display: none;}
        .logoPS:nth-child(7) { display: none;}
        .logoPS:nth-child(8) { display: none;}
    
}
@media (max-width: 600px) {
    .logoPS {
        display: none;
    }
}



@keyframes fadeIn {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.logoPS:nth-child(1) { animation-delay: 0.5s; animation-duration: 2s;}
.logoPS:nth-child(2) { animation-delay: 1s; animation-duration: 2s;}
.logoPS:nth-child(3) { animation-delay: 1.5s; animation-duration: 2s;}
.logoPS:nth-child(4) { animation-delay: 2s; animation-duration: 2s;}
.logoPS:nth-child(5) { animation-delay: 2s; animation-duration: 2s}
.logoPS:nth-child(6) { animation-delay: 1.5s; animation-duration: 2s}
.logoPS:nth-child(7) { animation-delay: 1s; animation-duration: 2s;}
.logoPS:nth-child(8) { animation-delay: 0.5s; animation-duration: 2s;}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio entre el logo y el navbar */
}

.navbar a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Barcade No Bar Bold', sans-serif;
    margin-left: 10%;

}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}
.navbar a:hover::before{
    width: 100%;
}


spline-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

section {
    position: relative;
    color: aliceblue;
    z-index: 10; 
    text-align: center;
}

h1{
    
    font-family: "Turret Road", sans-serif;
    font-weight: 200;
    font-size: 10em;
    font-style: normal;
}

p{
    font-family: "Turret Road", sans-serif;
    font-weight: 200;
    font-size: 2em;
    font-style: normal;
}

